@using songreviews.Models
@model Song
<div class="col d-flex text-center justify-content-center">
    <div class="card "style='width:75%;' >
        <div class="card-header bg-danger text-light">
            <h5>@Model.Title</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Artist: @Model.Artist</li>
            <li class="list-group-item">Genre: @Model.Genre</li>
            <li class="list-group-item">Rated @Model.Stars stars</li>
            <li class="list-group-item">@Model.Review</li>
            
        </ul>
        <div class="m-3">
            <a href="/@Model.songID" class="btn btn-secondary float-left">Edit</a>
            <a href="/delete/@Model.songID" class="btn btn-danger float-right">Delete</a>
        </div>
        
    </div>
</div>